<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetTaskServlet</servlet-name>
        <servlet-class>com.junior.jat.servlet.GetTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTask</servlet-name>
        <servlet-class>com.junior.jat.servlet.InsertTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.junior.jat.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_AddUserServlet</servlet-name>
        <servlet-class>com.junior.jat.servlet.Admin_AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_DeleteUserServlet</servlet-name>
        <servlet-class>com.junior.jat.servlet.Admin_DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_EditUserServlet</servlet-name>
        <servlet-class>com.junior.jat.servlet.Admin_EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_CreateSubjectServlet</servlet-name>
        <servlet-class>com.junior.jat.servlet.Admin_CreateSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Teacher_DeleteTaskServlet</servlet-name>
        <servlet-class>com.junior.jat.servlet.Teacher_DeleteTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.junior.jat.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_DeleteSubjectServlet</servlet-name>
        <servlet-class>com.junior.jat.servlet.Admin_DeleteSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Teacher_EditTaskServlet</servlet-name>
        <servlet-class>com.junior.jat.servlet.Teacher_EditTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTaskServlet</servlet-name>
        <url-pattern>/GetTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTask</servlet-name>
        <url-pattern>/InsertTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_AddUserServlet</servlet-name>
        <url-pattern>/Admin_AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_DeleteUserServlet</servlet-name>
        <url-pattern>/Admin_DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_EditUserServlet</servlet-name>
        <url-pattern>/Admin_EditUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_CreateSubjectServlet</servlet-name>
        <url-pattern>/Admin_CreateSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Teacher_DeleteTaskServlet</servlet-name>
        <url-pattern>/Teacher_DeleteTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_DeleteSubjectServlet</servlet-name>
        <url-pattern>/Admin_DeleteSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Teacher_EditTaskServlet</servlet-name>
        <url-pattern>/Teacher_EditTaskServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
